$global-font-family: "Helvetica Neue", "Segoe UI", Arial, "Hiragino Sans GB", "Microsoft YaHei", Roboto,sans-serif;


$breakpoint-mobile: 960px;
$breakpoint-stack: 530px;

$nike: rgb(255, 231, 15);
$light: rgb(204, 204, 204);
$dark: rgb(43, 43, 43);
$map-box-line-color:rgb(71, 184, 224)
